@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*reset básico*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0b132b;
  color: white;
}

.container {
  text-align: center;
}

.logo-img {
  width: 300px;
  margin-bottom: 20px;
}

.logo {
  color: #ffd700;
  font-size: 40px;
  margin-bottom: 10px;
}

.slogan {
  margin-bottom: 30px;
  opacity: 0.8;
}

.botao {
  padding: 12px 28px;

  background-color: #ffd700;
  color: #0b132b;

  text-decoration: none;
  font-weight: bold;

  border-radius: 8px;

  transition: 0.2s;
}

.botao:hover {
  opacity: 0.85;
}
