@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*reset básico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0D1B2A;
  color: #F5F9FF;
  padding: 20px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

header h1 {
  color: #D4AF37;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.header-actions {
  display: flex;
  gap: 15px;
}


select {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background-color: #1B263B;
  color: #F5F9FF;
  cursor: pointer;
}

button {
  background-color: #D4AF37;
  color: #0D1B2A;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #ffec6e;
  color: #0D1B2A;
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1B263B;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background-color: #D4AF37;
  color: #0D1B2A;
}

th, td {
  padding: 12px;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #2E3F5B;
}

tbody tr:hover {
  background-color: #243447;
}


td img {
  width: 60px;
  border-radius: 4px;
}

.modal{
    display: none;
    position:fixed;
    background: rgba(0,0,0,0.5);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.modal-content{
    background: #1B263B;
    width: 300px;
    padding:20px;
    margin: 100px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content h2 {
  color: #D4AF37;
  text-align: center;
  margin-bottom: 10px;
}

.modal-buttons{
    display:flex;
    justify-content: space-between;
}